* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: rgb(37, 37, 37);
}

#encabezado {
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    background-color: lightcyan;
}
#caja {
    display: flex;
    align-items: center;
    margin-left: auto;
    border: 2px solid orange;
}
.formulario {
    
    font-size: 1em;
    margin:  2%;
    border-radius: 7%;
}
#descargas {
    
    font-size: 1em;
    margin: 2%;
    border-radius: 7%;
}

